<html>
<style>
    hr {
    margin: 20px 0;
    border: 1px solid #f00;
    }

</style>
<head>
    <title>Mongo Tutorial</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron" style="width: 100%; background-color: whitesmoke">
    <h1 style="align-content: center">MongoDB Tutorial</h1>
  </div>

    <div class="container">
        <div class="card">
            <a class="card-link" href="./remove_user?by={{ by }}"><button type="submit">DELETE USER</button></a>
        </div>
    </div>
</div>
<hr />

{% for post in docs %}
    <div class="container">
      <h3 style="font-weight: bold"><a href="get_post?_id={{ post['_id'] }}">{{ post["title"] }}</a></h3>
      <a href="./author?by={{ post['by'] }}">
        <h4> by {{ post["by"] }}</h4>
      </a>
      <h5>on {{ post["created"]}}</h5>
      <div class="card">
        <div class="card-body">{{ post["desc"] }}</div>
          <br>
        <a class="card-link" href="./remove?_id={{ post['_id'] }}"><button type="submit">DELETE</button></a>
        <a class="card-link" href="./update?_id={{ post['_id'] }}"><button type="submit">EDIT</button></a>
      </div>
    </div>
    <hr />
{% endfor %}
</body>
</html>