<html>
<style>
    hr {
    margin: 20px 0;
    border: 1px solid #f00;
    }

</style>
<head>
    <title>Mongo Tutorial</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron" style="width: 100%; background-color: whitesmoke">
    <h1 style="align-content: center">MongoDB Tutorial</h1>
  </div>
</div>

<div class="container">
    <h3>Edit the post!</h3>
    <form action="/update" method="POST">
        {% for docs in docs %}
            <div class="form-group">
                <label for="formGroupExampleInput">Unique Object ID : {{ docs['_id'] }}</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="_id" value="{{ docs['_id'] }}" style="display: none">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{ docs['title'] }}" placeholder="{{ docs['title'] }}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Description</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="desc" value="{{ docs['desc'] }}" placeholder="{{ docs['desc'] }}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">By</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="by" value="{{ docs['by'] }}" placeholder="{{ docs['by'] }}">
            </div>
        {% endfor %}
        <button type="submit"> Update Task </button>
    </form>
    <a href="/list">Return to TaskList</a>
</div>
</body>
</html>