<!DOCTYPE html>
<html lang="en">
<style>
    hr {
    margin: 20px 0;
    border: 1px solid #f00;
    }

</style>
<head>
    <title>Mongo Tutorial</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron" style="width: 100%; background-color: whitesmoke">
    <h1 style="align-content: center">MongoDB Tutorial</h1>
  </div>
</div>

{% for post in docs %}
    <div class="container">
      <h3 style="font-weight: bold">{{ post["title"] }}</h3>
      <a href="./author?by={{ post['by'] }}">
        <h4> by {{ post["by"] }}</h4>
      </a>
      <h5>on {{ post["created"]}}</h5>
      <div class="card">
        <div class="card-body">{{ post["desc"] }}</div>
          <br>
        <a class="card-link" href="./remove?_id={{ post['_id'] }}"><button type="submit">DELETE</button></a>
        <a class="card-link" href="./update?_id={{ post['_id'] }}"><button type="submit">EDIT</button></a>
      </div>
    </div>
    <hr />
    <div class="container">
    <h4 style="font-weight: bold">Comments</h4>
    {% for comment in post['comments'] %}
        <div class="card">
            <div class="card-body">{{ comment }}</div>
        </div>
        <hr />
    {% endfor %}
    </div>
    <div class="container">
{% endfor %}

    <div class="container">
        <div class="card">
            <form action="/add_comment?_id={{ id }}" method="POST">
                <h3>Add a comment!</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput">Comment</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="comment" placeholder="Comment">
                </div>
                <button type="submit"> Create</button>
            </form>
        </div>
    </div>
<br>
<br>
</body>
</html>

